# config vars for the root file system
HYPRIOT_OS_VERSION="v0.8.6"
ROOTFS_TAR_CHECKSUM="51e70ebc2a090ab2eb94f45cf98e69ecc049953673f4bb478eba46ad8739f2e3"

# specific versions of kernel/firmware and docker tools
export DOCKER_ENGINE_VERSION="1.10.1-1"
export DOCKER_COMPOSE_VERSION="1.7.1-40"
export DOCKER_MACHINE_VERSION="0.7.0-26"
